<%= simple_form_for [@artifact, @booking] do |f| %>
<%= f.error_notification %>

  <div class="form-input">
    <label>From:
    <%= f.date_field :check_out_date, class: 'form-control', label: "From:" %>
    </label>
    <label>To:
    <%= f.date_field :return_date, class: 'form-control', label: "To:" %></label>
  </div>

  <%= f.submit %>
<% end %>
