<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_path 'map-on-wall-w-window.jpg' %>);">
  <div class="banner-content">
    <h1>Antiquity Direct</h1>
    <p>Discover Exotic Luxury Artifacts to Enhance Your Events and Life</p>
    <a class="btn btn-primary btn-lg">Browse Artifacts</a>
  </div>
</div>


<h1>This is h1</h1>
<h2>This is h2</h2>
<p>This is your P, riiiight? Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

<h2>Button Design</h2>
<a href="#" class="btn-treehouse">Start now</a>

(a.name-of-class and tab)


<h2>Aavatar Design</h2>

<img src='https://pm1.narvii.com/6281/7bde1f6ba2c8b737911ddc9982560c37cabbc83a_128.jpg' class="avatar-large"/>
<img src='https://pbs.twimg.com/profile_images/3682344952/c39d4e9662f9ecac441092a35111c420.jpeg' class="avatar-large"/>


<div>color sample</div>
<div class="div-with-flex">
  <div class="color-sample gray"></div>
  <div class="color-sample blue"></div>
  <div class="color-sample green"></div>
  <div class="color-sample yellow"></div>
  <div class="color-sample red"></div>
  <div class="color-sample orange"></div>
  <div class="color-sample tan"></div>
  <div class="color-sample brown"></div>
  <div class="color-sample white"></div>
  <div class="color-sample dark-grey"></div>
</div>



<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= render 'shared/card' %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= render 'shared/card' %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= render 'shared/card' %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= render 'shared/card' %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= render 'shared/card' %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= render 'shared/card' %>
    </div>
  </div>
</div>
