<div class="container dashboard-container">

  <h1><%= @current_user.first_name.capitalize  %>'s Dashboard & Profile</h1>

  <div class="top-row row">

    <div class="col-xs-12 col-sm-3 user-box left-block">
      <div class="my-dashboard avatar">
        <%= image_tag user_photo %>
      </div>
      <h2><%= @current_user.first_name.capitalize  %> <%= @current_user.last_name.capitalize  %></h2>
      <hr>
      <ul class="list-group">
        <li class="list-group-item"><i class="fas fa-th"></i> Inventory Count: <span><%= @current_user.artifacts.count %></span></li>
        <hr>
        <li class="list-group-item"><i class="far fa-arrow-alt-circle-right"></i> Customer Bookings: <span><%= @customer_bookings.count %></span></li>
        <li></li>
        <li class="list-group-item list-group-subitem"><i class="far fa-question-circle"></i>Pending: <span><%= @customer_bookings_pending %></span></li>
        <li class="list-group-item list-group-subitem"><i class="far fa-check-circle"></i>Confirmed: <span><%= @customer_bookings_confirmed %></span></li>
        <li class="list-group-item list-group-subitem"><i class="fas fa-ban"></i>Declined: <span><%= @customer_bookings_declined %></span></li>

      </ul>
    </div>

    <div class="col-xs-12 col-sm-9 user-has-booked right-block">
      <h2>My Personal Bookings</h2>
      <table class="table">
          <tr><th>Status</th><th>Artifact</th><th>Check Out Date</th><th>Return Date</th><th>Total Price</th></tr>
        <% @my_bookings.order(:check_out_date).each do |booking| %>
        <%  art_id = booking.artifact_id
            out = booking.check_out_date
            retur = booking.return_date
            conf = booking.booking_confirmed
            decl = booking.booking_declined %>
          <tr>
            <td class="my-bookings-status"><span class="my-booking-status"><%= booking_status(conf, decl) %></span></td>
            <td class="my-bookings-artifact"><%= booking.artifact.name %></td>
            <td class="my-bookings-checkout"><%= booking.check_out_date %></td>
            <td class="my-bookings-checkout"><%= booking.return_date %></td>
            <td class="my-bookings-price-total"><%= booking_cost(art_id, out, retur) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<hr>
<div class="container dashboard-container">
    <div class="col-xs-12 bottom-block">
      <h2>Customer Bookings</h2>
      <table class="table">
          <tr><th>Status</th><th>Artifact</th><th>Customer Email</th><th>Check Out / Return Date</th><th>Total Price</th></tr>
        <% @customer_bookings.each do |booking| %>
          <% art_id = booking.artifact_id
            out = booking.check_out_date
            retur = booking.return_date
            row_class = row_status(booking.booking_confirmed, booking.booking_declined) %>
          <tr class="<%= row_class %>" >
            <td class="other-bookings-status">
              <div class="customer-booking-button-controlbox">
                <% unless booking_status(booking.booking_confirmed, booking.booking_declined) == "confirmed"%>
                  <%= form_tag('/dashboard') do -%>
                    <%=  hidden_field_tag 'booking_id', booking.id %>
                    <%=  hidden_field_tag 'status', 'confirmed' %>
                    <button class="customer-booking-confirm" type="submit">
                      <i class="far fa-check-circle"></i>
                    </button>
                  <% end -%>
                <% end %>
                <% unless booking_status(booking.booking_confirmed, booking.booking_declined) == "declined"%>
                  <%= form_tag('/dashboard') do -%>
                    <%=  hidden_field_tag 'booking_id', booking.id %>
                    <%=  hidden_field_tag 'status', 'declined' %>
                    <button class="customer-booking-decline" type="submit">
                      <i class="fas fa-ban"></i>
                    </button>
                  <% end -%>
                <% end %>

              </div>
            </td>
            <td class="other-bookings-artifact">
              <%= booking.artifact.name %>
            </td>
            <td class="other-bookings-email">
              <%= booking.user.email %>
            </td>
            <td class="other-bookings-checkout">
              out: <%= booking.check_out_date %><br>in: <%= booking.return_date %>
            </td>
            <td class="other-bookings-price-total">
              <%= booking_cost(art_id, out, retur) %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
</div>
<hr>
<div class="container dashboard-container">
      <h2>My Inventory</h2>
      <% current_user.artifacts.each do |artifact| %>

        <div class="col-xs-12 col-sm-3">
          <div class="inventory-outer-box">
            <div class="inventory-inner-box">
              <div class="inventory-item-thumbnail"
              style="background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.5)0%, rgba(255, 255, 255, 0.5)100%), url('<%= image_path artifact.photo %>')">
              </div>
              <div class="inventory-artifact-title">
                <%= link_to "#{artifact.name[0,18]}...", artifact_path(artifact) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

</div>


