<div class="container dashboard-container">

  <h1><%= @current_user.first_name.capitalize  %>'s Dashboard & Profile</h1>

  <div class="top-row row">

    <div class="col-xs-12 col-sm-3 user-box left-block">
      <div class="my-dashboard avatar">
        <%= image_tag user_photo %>
      </div>
      <h3><%= @current_user.first_name.capitalize  %> <%= @current_user.last_name.capitalize  %></h3>
      <hr>
      <ul class="list-group">
        <li class="list-group-item"><i class="fas fa-envelope-square"></i> <%= @current_user.email %></li>
        <li class="list-group-item"><i class="fas fa-phone-square"></i><%= @current_user.phone_number %></li>
        <hr>

      </ul>
    </div>

    <div class="col-xs-12 col-sm-9 user-has-booked right-block">
      <h3>My Personal Bookings</h3>
      <table class="table">
          <tr><th>Status</th><th>Artifact</th><th>Check Out Date</th><th>Return Date</th><th>Total Price</th></tr>
        <% @my_bookings.each do |booking| %>
        <%  art_id = booking.artifact_id
            out = booking.check_out_date
            retur = booking.return_date
            conf = booking.booking_confirmed
            decl = booking.booking_declined %>
          <tr>
            <td class="my-bookings-status"><span class="my-booking-status"><%= booking_status(conf, decl) %></span></td>
            <td class="my-bookings-artifact"><%= booking.artifact.name %></td>
            <td class="my-bookings-checkout"><%= booking.check_out_date %></td>
            <td class="my-bookings-checkout"><%= booking.return_date %></td>
            <td class="my-bookings-price-total"><%= booking_cost(art_id, out, retur) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<hr>
<div class="container dashboard-container">
  <!-- <div class="row"> -->
    <div class="col-xs-12 bottom-block">
      <h3>Customer Bookings</h3>
      <table class="table">
          <tr><th>Status</th><th>Artifact</th><!-- <th>Customer Name</th> --><th>Customer Email</th><th>Check Out / Return Date</th><th>Total Price</th></tr>
        <% @customer_bookings.each do |booking| %>
          <% art_id = booking.artifact_id
            out = booking.check_out_date
            retur = booking.return_date
            conf = booking.booking_confirmed
            decl = booking.booking_declined

            %>
          <tr>
            <td class="other-bookings-status">
              <div class="customer-booking-button-controlbox">

                <%= form_tag('/booking_status') do -%>
                  <%=  hidden_field_tag 'booking_id', booking.id %>
                  <button class="customer-booking-confirm" type="submit">
                    <i class="far fa-check-circle"></i><%#= booking_status(conf, decl) %>
                  </button>
                <% end -%>
                <!-- &nbsp;&nbsp; -->
                <%= form_tag('/booking_status') do -%>
                  <%=  hidden_field_tag 'booking_id', booking.id %>
                  <button class="customer-booking-decline" type="submit">
                    <i class="fas fa-ban"></i><%#= booking_status(conf, decl) %>
                  </button>
                <% end -%>

              </div>



            </td>
            <td class="other-bookings-artifact">
              <%= booking.artifact.name %>
            </td>
            <!-- <td class="other-bookings-customer">
              <%= booking.user.first_name %> <%= booking.user.last_name %>
            </td> -->
            <td class="other-bookings-email">
              <%= booking.user.email %>
            </td>
            <td class="other-bookings-checkout">
              out: <%= booking.check_out_date %><br>in: <%= booking.return_date %>
            </td>
            <td class="other-bookings-price-total">
              <%= booking_cost(art_id, out, retur) %>
            </td>
          </tr>
          <% #raise %>
        <% end %>
      </table>
    </div>
  <!-- </div> -->
</div>
