
<div class="container">
  <h1>Discover your Artifact</h1>

  <form id="artifact_filter">
    <% options = @artifact_types.map do |artifact_type|
      if artifact_type.artifacts.count == 0
        nil
      else
        ["#{artifact_type.name} (#{artifact_type.artifacts.count})", artifact_type.id]
      end
    end %>
    <%= select_tag "artifact_type_id", options_for_select(options.compact, params[:artifact_type_id]), include_blank: "All categories" %>
    <button id="artifact_filter_button" type="submit">Filter</button>
  </form>

  <div class="row">
  <% @artifacts.each_with_index do |artifact, i| %>

    <div class="col-xs-12 col-sm-4 offset-sm-4">

      <%= link_to artifact_path(artifact), class: "card" do %>
        <div class="card-image" style="background-image: url(<%= asset_path artifact.photo %>);">
          <h4 class="card-price"><%= sell_price(artifact.price) %> / day</h4>
        </div>
        <h3 class="blue-font"><%= artifact.name %></h3>
        <!-- <p><%= artifact.description %></p> -->
      <% end %>

    </div>

    <%= ((i + 1) % 3) == 0 ? "&nbsp;<hr>".html_safe : "" %>
    <% end %>

  </div>

</div>
