<div class="show-layout">
  <div class="show-layout-column">
    <%= image_tag(@artifact.photo, class: "show-layout-img")%>
  </div>
  <div class="show-layout-column">
    <h1><%= @artifact.name %></h1>
    <h3>$<%= @artifact.price %> / day</h3>
    <div class="show-border">
      <h3>Description:</h3>
    <!-- replace lorem below with @artifact.description  -->
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit temporibus sed, doloremque aliquid. Dolor dolorum magnam, nobis doloremque ullam vitae. Nobis, nulla. Officiis molestiae voluptas itaque ad, fuga eaque architecto incidunt exercitationem animi! Nam magni aliquam ab error ea neque ratione sunt, cum assumenda, ducimus aperiam dolores dicta, hic ad!</p>
      <ul>
        <li>Origin: <%= @artifact.cultural_origin.name %></li>
        <li>Time period: <%= @artifact.time_period.name %></li>
        <li>Condition: <%= @artifact.condition.name %></li>
      </ul>
    </div>

    <% if user_signed_in? %>
      <div class="col-xs-12 col-sm-6 col-sm-offset-1" style="outline:red dotted 1px;">
        <%= render 'shared/booking_form' %>
      </div>
    <% else %>
      <%= flash[:danger] = "Please log in to book." %>
    <% end %>
  </div>
</div>

    <!-- NEED TO WORK ON CONTROLLER TO MAKE SURE FORM WORKS -->

    <!-- simple form for booking -->
    <!-- CONDITIONAL STATEMENT TO HIDE BOOKING FORM IF NOT LOGGED IN -->


<!-- If you see this, then the first test of the 'new' form worked
 --><!-- <p>Find me in app/views/artifacts/show.html.erb</p> -->
