<h1><%= @artifact.name %></h1>
 <!--   -->

<div style="width:500">
  <a><%= image_tag(@artifact.photo) %></a>
</div>
  <h4>$<%= @artifact.price %> /day</h4>

<!-- NEED TO WORK ON CONTROLLER TO MAKE SURE FORM WORKS -->

<!-- simple form for booking -->
<div class="col-xs-12 col-sm-6 col-sm-offset-1" style="outline:red dotted 1px;">
  <!-- CONDITIONAL STATEMENT TO HIDE BOOKING FORM IF NOT LOGGED IN -->
  <% if user_signed_in? %>
    <%= render 'shared/booking_form' %>
    <% else %>
    <%= flash[:danger] = "Please log in." %>
  <% end %>
<!-- button for booking -->
</div>


If you see this, then the first test of the 'new' form worked
<!-- <p>Find me in app/views/artifacts/show.html.erb</p> -->
